@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.app {
  font-family: "Source Sans Pro";
  color: #f7f6f6;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* have color change with background for readability? */
