.clock{
  flex-basis: 100%;
  padding-top: 20vh;
  font-size: 3rem;
}

@media (min-width: 768px) { /* tablets */
  .clock{
    padding-top: 40vh;
    font-size: 5rem;
  }
}
@media (min-width: 992px) { /* desktop */
  .clock{
    padding-top: 38vh;
    font-size: 5rem;
  }
 }