.forecast{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}
.forecast__item{
  display: flex;
  flex-direction: column;
}
.item__icon{
  height: 4rem;
  width: 4rem;
  border: 1px solid white;
}
.item__text{

}
