.forecast{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 20% 0 20%;
}
.forecast-item{
  display: flex;
  flex-direction: column;
}
.item-icon{
  height: 4rem;
  width: 4rem;
  border: 1px solid white;
}

@media (min-width: 992px) { /* desktop */
  .forecast{
    padding: 0 30% 0 30%;
  }
}