.weather{
  width: 14rem;
  height: 8rem;
  position: absolute;
  right: 8px;
  top: 0px;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-right: 2rem;
}
.weather__icon{
  width: 60%;
  border: 1px solid white;
}
.weather__text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 5%;
  font-size: 2rem;
}
